<!DOCTYPE html>
<html>
<head>
  <title>Ceekay Tracker</title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
	</div>
	<div id="content">
		
		<%= yield %>

	</div>
</body>
</html>
