<!DOCTYPE html>
<html>
<head>
  <title>CeekayRetailer</title>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="content">
	<%= yield %>
</div>

</body>
</html>
